// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 a {
  text-decoration: none;
  color: $blue;
}

h1 a:hover {
  text-decoration: none;
  color: #fff;
}


body {
	background: $body-bg-dark;
	font-family: $font-family-sans-serif
}

header {
  background-color: #000;
  color: $blue;
  padding: 10px 5% !important;
}

.container {
  max-width: 100%;
}

.contenedor {
	width: 90%;
	margin: auto;
}


header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;

  .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: $blue;
    font-size: 40px;
  }

  nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
  }

  nav a:hover,  nav a.activo {
    color: #FFF;
  }

}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;

  h3 {
    color: $blue;
    font-size: 30px;
  }

}

 
/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.recetas-recomendadas {
	margin-bottom: 50px;

  .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;

    .flecha-izquierda, .flecha-derecha {
      position: absolute;
      border: none;
      background: rgba(0,0,0,0.3);
      font-size: 40px;
      height: 50%;
      top: calc(50% - 25%);
      line-height: 40px;
      width: 50px;
      color: #fff;
      cursor: pointer;
      z-index: 500;
      transition: .2s ease all;
    }

    .flecha-izquierda:hover, .flecha-derecha:hover {
      background: rgba(0,0,0, .9);
    }
    .flecha-izquierda {
      left: 0;
    }
    .flecha-derecha {
      right: 0;
    }

  }


  /* ---- ----- ----- Carousel ----- ----- ----- */
  .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
  
    .carousel {
      display: flex;
      flex-wrap: nowrap;
    }
    
    .carousel .receta {
      min-width: 20%;
      width: 20%;
      transition: .3s ease all;
      box-shadow: 5px 5px 10px rgba(0,0,0, .3);
      position: relative;
    }
    
    .carousel .receta:hover {
      transform: scale(1.2);
      transform-origin: center;
      z-index: 2;
    }
    
    .carousel .receta img {
      width: 100%;
      vertical-align: top;
    }
  }
}

.recetas-titulo {
	position: absolute;
	bottom: 10px;
	left: 5%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 10px;
	max-width: 90%;
  font-size: 20px;
  line-height: 22px;
}

.link_category {
  text-decoration: none;
}

.link_category h3:hover {
  transform: scale(1.1);
	transform-origin: left;
  color: #fff;
}

.titulo_categoria {
  width: 90%;
  margin: 20px 5%;
  text-align: center;
}

.titulo_categoria h3 {
  color: #fff;
  font-size: 3em;
} 

.titulo_categoria a {
  text-decoration: none;
  color: $blue;
  font-size: 1.5em;
}

.titulo_categoria a:hover {
  color: #fff;
}

.contenedor_categorias {
  width: 90%;
  margin: 20px 5%;
  position: relative;

  .categoria_item {
    width: 25%;
    float: left;
    margin: 0;
    position: relative;

    img {
      object-fit: cover;
      max-width: 100%;
      z-index: 10;
    }    
  }
}

.categoria_item a {
  opacity: 0.8;
}

.categoria_item a:hover {
  opacity: 1;
}  

.ficha_receta {
  width: 90%;
  margin: 20px 5%;
  position: relative;

  img {
    float: left;
    width: 50%;
  }

  .detalle_receta {
    float: left;
    width: 50%;
    padding: 0 40px;
    color: #fff;  
  }

  .detalle_receta span {
    font-size: 1.2em;
  }

  .data_receta {
    font-weight: bold;
  }

  .detalle_receta a {
    text-decoration: none;
    color: $blue;
    font-weight: bold;
    font-size: 1.4em;
  }

  .detalle_receta a:hover {
    color: #fff;
  }

}


.backoffice_app {

  .backoffice-div {
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 1% 2%;    
    min-height: 90vh;
  }

  .nav-item, .navbar-brand {
    font-size: 1.5em;
  }
  .nav-item {
    border-right: 1px solid #AAA;
  }
  .sinborde {
    border-right: 0px;
  }
  #desplegable_user {
    margin-left: 30px;
  }

  td {
    font-size: 1.2em;
  }

  .btn {
    margin: 0 5px;
  }

  .card_formulario {
    width: 60%;
    margin: 2% 20%;
    position: relative;
  }

  .card-title {
    background-color: $blue;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  input, textarea, select {
    font-size: 1.2rem;
  } 

  .link_back {
    width: 100%;
    text-align: center;
  }

  .link_back a {
    text-decoration: none;
    color: $blue;
    font-size: 1.4em;
  }
  
  .link_back a:hover {
    color: #000;
  }

  .form_delete {
    display: inline;
  }

  .thumbail_backoffice {
    max-width: 150px;
  }

}


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.recetas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.recetas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.recetas-recomendadas .flecha-izquierda,
	.recetas-recomendadas .flecha-derecha {
		display: none;
	}

  .recetas-titulo {
    display: none;
  }

  .contenedor_categorias .categoria_item {
    width: 50%;
  }

  .ficha_receta img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .ficha_receta .detalle_receta {
    width: 100%;
    padding: 0;
  }

}